{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container">
    <h1>Orger Management Dashboard</h1>

    <div class="row">
        <div class="col-md-6">
            <h2>Companies</h2>
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'company_list' %}">List Companies</a></li>
                <li class="list-group-item"><a href="{% url 'company_create' %}">Create Company</a></li>
            </ul>

            <h2>Departments</h2>
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'department_list' %}">List Departments</a></li>
                <li class="list-group-item"><a href="{% url 'department_create' %}">Create Department</a></li>
            </ul>

            <h2>Positions</h2>
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'position_list' %}">List Positions</a></li>
                <li class="list-group-item"><a href="{% url 'position_create' %}">Create Position</a></li>
            </ul>

            <h2>Employees</h2>
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'employee_list' %}">List Employees</a></li>
                <li class="list-group-item"><a href="{% url 'employee_create' %}">Create Employee</a></li>
            </ul>
        </div>

        <div class="col-md-6">
            <h2>Teams</h2>
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'team_list' %}">List Teams</a></li>
                <li class="list-group-item"><a href="{% url 'team_create' %}">Create Team</a></li>
            </ul>

            <h2>Employee Position Assignments</h2>
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'employeepositionassignment_list' %}">List Assignments</a></li>
                <li class="list-group-item"><a href="{% url 'employeepositionassignment_create' %}">Create Assignment</a></li>
            </ul>

            <h2>Team Memberships</h2>
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'teammembership_list' %}">List Memberships</a></li>
                <li class="list-group-item"><a href="{% url 'teammembership_create' %}">Create Membership</a></li>
            </ul>

            <h2>Team Leader Assignments</h2>
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'teamleaderassignment_list' %}">List Assignments</a></li>
                <li class="list-group-item"><a href="{% url 'teamleaderassignment_create' %}">Create Assignment</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}