{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container">
    <h1>Positions</h1>
    <a href="{% url 'position_create' %}" class="btn btn-primary mb-3">Create Position</a>
    <ul class="list-group">
        {% for position in positions %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'position_detail' position.pk %}">{{ position.title }}</a>
            <span>{{position.department}}</span>
            <div>
                <a href="{% url 'position_update' position.pk %}" class="btn btn-sm btn-outline-secondary">Edit</a>
                <a href="{% url 'position_delete' position.pk %}" class="btn btn-sm btn-danger">Delete</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}