{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container">
    <h1>Employee Position Assignments</h1>
    <a href="{% url 'employeepositionassignment_create' %}" class="btn btn-primary mb-3">Create Assignment</a>
    <ul class="list-group">
        {% for assignment in employee_position_assignments %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'employeepositionassignment_detail' assignment.pk %}">{{ assignment.employee.first_name }} {{ assignment.employee.last_name }} - {{ assignment.position.title }}</a>
            <div>
                <a href="{% url 'employeepositionassignment_update' assignment.pk %}" class="btn btn-sm btn-outline-secondary">Edit</a>
                <a href="{% url 'employeepositionassignment_delete' assignment.pk %}" class="btn btn-sm btn-danger">Delete</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}