{% load django_bootstrap5 %}

<div class="card mb-3">
    <div class="card-header">
        Department:
        <a href="{% url 'department_detail' department_structure.department.pk %}">{{ department_structure.department.name }}</a>
        <div class="float-end">
            <a href="{% url 'department_create' %}?parent_department={{ department_structure.department.pk }}" class="btn btn-sm btn-outline-primary">Create Sub-Department</a>
            <a href="{% url 'position_create' %}?department={{ department_structure.department.pk }}" class="btn btn-sm btn-outline-success">Create Position</a>
        </div>
    </div>
    <div class="card-body">
        {% if department_structure.manager_position %}
            <p>Manager Position: <a href="{% url 'position_detail' department_structure.manager_position.pk %}">{{ department_structure.manager_position.title }}</a></p>
        {% endif %}

        {% if department_structure.positions %}
            <h5 class="card-title">Positions:</h5>
            <ul>
                {% for position_data in department_structure.positions %}
                    <li>
                        <a href="{% url 'position_detail' position_data.position.pk %}">{{ position_data.position.title }}</a>
                        <div class="float-end">
                            <a href="{% url 'employeepositionassignment_create' %}?position={{ position_data.position.pk }}" >Assign</a>
                            <a href="{% url 'employee_create_and_assign' %}?position={{ position_data.position.pk }}" >Create</a>
                        </div>
                        {% if position_data.employee_assignments %}
                            <ul>
                                {% for assignment in position_data.employee_assignments %}
                                    <li>
                                        <a href="{% url 'employee_detail' assignment.employee.pk %}">{{ assignment.employee.first_name }} {{ assignment.employee.last_name }}</a> (since {{ assignment.assigned_date }})
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            - VACANT
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if department_structure.sub_departments %}
            <h5 class="card-title">Sub Departments:</h5>
            {% for sub_department_structure in department_structure.sub_departments %}
                {% include 'risker/department_structure.html' with department_structure=sub_department_structure %}
            {% endfor %}
        {% endif %}
    </div>
</div>