{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container">
    <h1>Team Memberships</h1>
    <a href="{% url 'teammembership_create' %}" class="btn btn-primary mb-3">Create Membership</a>
    <ul class="list-group">
        {% for membership in team_memberships %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'teammembership_detail' membership.pk %}">{{ membership.employee.first_name }} {{ membership.employee.last_name }} - {{ membership.team.name }}</a>
            <div>
                <a href="{% url 'teammembership_update' membership.pk %}" class="btn btn-sm btn-outline-secondary">Edit</a>
                <a href="{% url 'teammembership_delete' membership.pk %}" class="btn btn-sm btn-danger">Delete</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}