{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container">
    <h1>Delete Assignment</h1>
    <p>Are you sure you want to delete the assignment for {{ object.team.name }} - {{ object.leader.first_name }} {{ object.leader.last_name }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirm Delete</button>
        <a href="{% url 'teamleaderassignment_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}